
<div class="sidebar">
    <div class="logo">
        <img src="https://currencyconverter.webrexstudio.com/app/assets/Logo.png">
    </div>
    <div class="menu">
        <div class="box">
           
            Dropdown
        </div>
        <div class="box">
            
            Country Rules</div>
        <div class="box">Currency Rules</div>
        <div class="box">General Rules</div>
        <div class="box">Other Config</div>
        <div class="box">Cart Notification</div>
    </div>

</div>

<div class="main">
   <h1>Dashboard Works</h1>
</div>
