<div class="container">
    <div class="header">
        <a href="/">
            <img src="https://currencyconverter.webrexstudio.com/app/assets/Logo.png">
        </a>
    </div>

    <div class="midbackground">
        <div class="bcontent">
            <h1>Don't Let Your Customers Down.</h1>
            <h3>Enlarge brand with pleasent customer</h3>
        </div>
    </div>
    <div class="installurlform">
        <form class="formgroup" [formGroup]="installForm">
            <div class="formcontrol">
                <div class="input">
                    <div class="label">
                        <label>To install Currency Converter & Switcher through shopify</label>
                    </div>
                    <div class="inputurl">
                        <input type="text" placeholder="your shop url" formControlName = "url">
                        <button (click)="onSubmit()">Submit</button>
                        
                    </div>
                </div>  
                <div class="invalid">   
                    <div *ngIf="url && url.touched && url.invalid">Shop URL is required</div>
                </div>
            </div>
        </form>
    </div>
</div>